# Frontend URL (local dev)
FRONTEND_URL=http://localhost:3000

# Spotify API
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
REDIRECT_URI=http://127.0.0.1:5000/callback

# APIs
GENIUS_ACCESS_TOKEN=
OPENAI_API_KEY=
SCRAPER_API_KEY=